{% extends 'base.html' %}

{% block title %}
  Search users of Umon
{% endblock %}

{% block content_titel %}
  Search users of UMon
{% endblock %}

{% block content %}
{{ super() }}
<div class="grid-x grid-padding-x align-conter">
  {{ DateTime }}
</div>
<div class="grid-x grid-margin-x">
  <div class="cell medium-4 large-2">
		<form action="{{ get_absolute_url }}/users/adr/search" method="post" id="name" enctype="multi-part/formdata">
			<label>Выберите улицу</label>
				<select class="form-control" name="name" title="Выберите улицу">
          {% for street in ListSearch %}<option value={{ street[2] }}>{{ street[1] }}</option>{% endfor %}
			  </select>

			<label>Выберите дом</label>
				<select class="form-control" name="user_build" id="result1" title="Выберите дом">
				{% for i in building %}<option>{{ i }}</option>{% endfor %}
			</select>
				<input type="submit" class="button" value="Submit">
		</form>
     <table border = 1>
         {% for value in result %}
            <tr>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>
  </div>
  <div class="cell medium-8 large-9">
    <ul class="dropdown menu" data-dropdown-menu>
      {% for i in ListStreetLetters %}
        <li>
          <a href="#">{{ i[0] }}</a>
          <ul class="menu">
            <li>
              {% for street in i[1] %}
                <a href="/users/adr/street_id/{{street[1]}}">
                  {{ street[0] }}
                </a>
              {% endfor %}
            </li>
          </ul>
        </li>
      {% endfor %}
    </ul>
    {% block search_users %}{% endblock %}
      <div>
           <table class="hover">
             <thead>
               <tr>
                 <th>Улица</th>
                 <th>Кол-во пользователей</th>
                 <th>ONLINE</th>
                 <th>OFFLINE</th>
               </tr>
             </thead>
             <tbody>
                {% for count in Count_Street %}
                <tr> 
                  <td><a href="{{ get_absolute_url  }}/users/adr/street_id/{{ count[0][1] }}">{{ count[0][0] }}</a></td> 
                  <td>{{ count[1] }} 
                  <td>{{ count[2] }} 
                  <td>{{ count[3] }} 
                </tr> 
               {% endfor %} 
            </tbody> 
          </table> 
      </div> 
    {% block street_users %}{% endblock %}
  </div>
  </div>
</div>
<div>
</div>
{% endblock %}
