{% extends 'base.html' %}

{% block title %}
  Search users of Umon
{% endblock %}

{% block content_titel %}
  Search users of UMon
{% endblock %}

{% block content %}
{{ super() }}
<div class="grid-x grid-padding-x align-conter">
  <h3>Поиск</h3>
  {{ DateTime }}
</div>
<div class="grid-x grid-margin-x">
  <div class="cell medium-4 large-2">
    <div>
      <label>Выберите улицу:
         <select>
          {% for i in ListSearch %}
               <option value="{{ i[0] }}">{{ i[1] }}</option>
          {% endfor %}
         </select>
       </label>
     </div>
   </div>
  <div class="cell medium-8 large-9">
      <ul class="dropdown menu" data-dropdown-menu>
        {% for i in ListStreetLetters %}
        <li>
          <a href="#">{{ i[0] }}</a>
          <ul class="menu">
            <li>
                {% for street in i[1] %}
                <a href="street_id/{{street[1]}}">
                    {{ street[0] }}
                  </a>
                {% endfor %}
            </li>
          </ul>
          </li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
<div>
  {% block street_users %}{% endblock %}
</div>
{% endblock %}
