{% extends 'users/search.html' %}
{% block title %}
 Search users of streets 
{% endblock %}
  {% block street_users %}
<div>
	<table style="font-size: 12px">
	<thead>
		<tr>
			 <!--<th>#</th>-->
       <th>uid</th>
			 <th>Адрес</th>
			 <th>Логин</th>
			 <th>Начало сессии</th>
			 <th>Длительность</th>
			 <th>IN</th>
			 <th>OUT</th>
			 <th>IP</th>
			 <th>CID</th>
			 <!--<th>Тариф</th>-->
			 <th>NG/NAS</th>
		</tr>
	</thead>
	<tbody>
	{% for user in UsersOnline %}
		<tr>
      <td><a href="/users/user/{{ user.uid }}">{{ user.uid }}</a></td>
      <td>{{ user.street }} {{ user.building }} {% if user.flat %}/ {{ user.flat }}{% endif%}</td>
      <td>{{ user.login }}</td>
      <td>{{ user.started }}</td>
      <td>{{ user.acct_session_time }}</td>
      <td>{{ user.acct_input_octets|filesizeformat }}</td>
      <td>{{ user.acct_output_octets|filesizeformat }}</td>
      <td>{{ user.ip }}</td>
      <td>{{ user.cid }}</td>
      <td>{{ user.info }} / {{ user.nas_id }}</td>
      <!-- <td>{{ user.tp_id }}</td> -->
		</tr>
	{% endfor%}
 </tbody>
</table>
</div>
<div>
    <table>
      <thead>
        <tr>
          <th width="20">UID</th>
          <th>Логин</th>
          <th>ФИО</th>
          <th>Баланс</th>
          <th>Кредит</th>
          <th>Телефон</th>
          <th>Улица</th>
          <th>Дом</th>
          <th>Кв</th>
        </tr>
      </thead>
      <tbody>
        {% for user in Users %}
          <tr>
             <td><a href="/users/user/{{ user.uid }}">{{ user.uid }}</a></td>
             <td>{{ user.login }}</td>
             <td>{{ user.fio }}</td>
            {% for i in user.users_pi %}
             <td>{{ i.balance }}</td>
             <td>{{ i.credit }}</td>
            {% endfor %}
             <td>{{ user.phone }}</td>
            {% for i in user.address_id %}
             <td>{{ i.street }}</td>
             <td>{{ i.building }}</td>
             <td>{{ i.flat }}</td>
            {% endfor %}
          </tr>
         {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
</div>
