{% extends 'base.html' %}

{% block title %}
  User of Umon
{% endblock %}

{% block content_titel %}
  User info of UMon
{% endblock %}

{% block content %}
  <div class="grid-x grid-padding-x">
    <div class="cell small-2 medium-4 large-4"></div>
    <div class="cell small-10 medium-8 large-4">
      Учетная карточка абонента
    </div>
    <div class="cell small-2"></div>
    <div class="cell small-10 medium-8 large-4">
      <h6>Время: {{ DateTime }}</h6>
    </div>
  </div>
  <div class="grid-container">
  <div class=row>
    <div class="cell small-12 medium-4 large-4">
      <div class="grid-x grid-margin-x align-center">
        <div class="cell small-5 medium-3 large-3">
          <small>Регистрация:{{ UserInfo[3].registration }}</small> 
        </div>
        <div class="cell small-7 medium-3 large-3">
          <small>Договор: №{{ UserInfo[3].contract_id }} {{ UserInfo[3].contract_date }}</small>
        </div>
        <div class="cell small-5 medium-3 large-3">
          <small>Паспорт: {{ UserInfo[3].pasport_num }}</small> 
        </div>
        <div class="cell small-7 medium-3 large-3">
          <small>Дата: {{ UserInfo[3].pasport_date}}</small>
        </div>
      </div>
    </div>
        {% if UserInfo[0].disable %} Отключена {% endif %}
        {% if UserInfo[0].delete %} Удалена {% endif %}
        {% if UserInfo[3].archive %} Архив {% endif %}
  </div>
    <div class="row" >
      <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-4 large-4">
          <h3>Баланс: {{ UserInfo[3].balance }} <small>руб.</small></h3>
        </div>
        <div class="cell small-6 medium-4 large-4">
          <div class="cell small-12 medium-6 large-6"><small>Кредит: {{ UserInfo[3].credit }} руб.</small></div>
          <div class="cell small-12 medium-6 large-6"><small>Дата: {{ UserInfo[3].credit_date }}</small></div>
          <div class="cell small-12 medium-6 large-6"><small>Скидка: {{ UserInfo[3].reduction }} руб.</small></div>
          <div class="cell small-12 medium-6 large-6"><small>Дата: {{ UserInfo[3].reduction_date }}</small></div>
        </div>
        <div class="cell small-6 medium-4 large-4">
          <h5>Логин: {{ UserInfo[0].login }}</h5>
          <h5>Пароль: {{ UserInfo[0].password }}</h5>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="grid-x grid-padding-x align-center">
        <div class="cell small-12 medium-5 large-5">
          <fieldset class="fieldset">
            <legend>Ф.И.О.</legend>
              {{ UserInfo[0].fio }}
          </fieldset>
        </div>
        <div class="cell small-12 medium-2 large-2">
          <fieldset class="fieldset">
          <legend>Телефон</legend>
            {{ UserInfo[0].phone }}
          </fieldset>
        </div>
        <div class="cell small-12 medium-5 large-5">
          <fieldset class="fieldset">
          <legend>Адрес</legend>
              {% if UserInfo[1].street %} {{ UserInfo[1].street }}{% endif %}
              {% if UserInfo[1].building %} {{ UserInfo[1].building }} {% endif %}
              {% if UserInfo[1].flat %} / {{ UserInfo[1].flat }} {% endif %}
          </fieldset>
      </div>
    </div>

    <div class="cell small-12"><hr></div>
    
    <div class="row">
      <div class="grid-x grid-padding-x align-center">
        <div class="cell small-12 medium-6 large-6">
          <h5>IP: {{ UserInfo[2].ip }}</h5>
        </div>
        <div class="cell small-12 medium-6 large-6">
          <h5>MAC: {{ UserInfo[2].cid }}</h5>
        </div>
      </div>
    </div>

    <div class="cell small-12"><hr></div>

    <div class="row">
      <div class="grid-x grid-padding-x align-center">
        <div class="cell small-12 medium-6 large-6">
          <fieldset class="fieldset">
          <legend>Тариф</legend>
            {% if UserInfo[4].tpid %} № {{ UserInfo[4].tpid }} {% endif %}
            {% if UserInfo[4].name %} | {{ UserInfo[4].name }} {% endif %}
            {% if UserInfo[4].day_fee %} | Снятие за день: {{ UserInfo[4].day_fee }} руб. {% endif %}
            {% if UserInfo[4].mouth_fee %} | Снятие за месяц: {{ UserInfo[4].day_fee }} руб. {% endif %}
          </fieldset>
        </div>
        <div class="cell small-12 medium-6 large-6">
          <fieldset class="fieldset">
          <legend>Группа</legend>
            {% if UserInfo[5].gid %}
                {% if UserInfo[5].gid == 99999 %}
                  Отсутствует
                {% else %}
                  № {{ UserInfo[5].gid  }}
                {% endif %}  
            {% endif %}
            {% if UserInfo[5].name %} | {{ UserInfo[5].name }} {% endif %}
          </fieldset>
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell small-12"><hr></div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-padding-x align-center">
        <div class="cell small-12 medium-12 large-4">
          <span><h5>Telegram: {{ UserInfo[3].telegram }}</h5></span>
          <span><h5>Telegram_send: {{ UserInfo[3].telegram_send }}</h5></span>
        </div>
        <div class="cell small-12 medium-12 large-4">
          <span><h5>VK: {{ UserInfo[3].vk }}</h5></span>
          <span><h5>VK_send: {{ UserInfo[3].vk_send }}</h5></span>
        </div>
      </div>                    
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell small-12"><hr></div>
    </div>
    <div class="row">
      <div class="grid-x grid-padding-x align-center">
        <div class="cell small-12 medium-12 large-12">
          <fieldset class="fieldset">
          <legend>Описание:</legend>
            {% if UserInfo[0].descr %} {{ UserInfo[0].descr }} {% endif %}
          </fieldset>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
