{% extends 'base.html' %}

{% block title %}
  Auth of Umon
{% endblock %}

{% block content_titel %}
  Auth of UMon
{% endblock %}

{% block auth_content %}
	  <div class="row">
			<div class="grid-container">
        <div class="grid-x grid-padding-x align-center"">
					<form>
	  				<h5>Welcome to User Monitoring of TriaNet</h5>
						<div class="medium-6 cell">
							<label>Логин:
								<input type="text" placeholder="Логин">
							</label>
						</div>
						<div class="medium-6 cell">
							<label>Пароль:
								<input type="password" placeholder="Пароль">
							</label>
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}
